picture
  source(data-srcset=`/public/${path_name}${image_name}@2x.png 2x, /public/${path_name}${image_name}.png 1x`)
  img.lazy(data-src=`/public/${path_name}${image_name}.png` alt=`${image_name}-img`)
